.nav-logo {
  font-weight: 700;

  border: 1px solid blue;
}

.nav-content {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid red;
}

.nav-span {
  border: 1px solid green;
  /* color: black; */
}

.nav-github-logo {
  font-size: 64px;

}