// Custom Colors 


$primary: #d0a13f;
$secondary: #A2A690;
$sucess: #74ab4b;
$info: #334253;
$warning: #f19b13;
$danger: #f44336;
$light: #F1F0EF;
$dark: #343135;

$body-bg: $dark;
$body-color: $light;